<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>CLClark - fcc image search abstraction layer</title>
    <meta name="description" content="fcc microservice">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
  </head>
  <body>
    <header>
      <h1>
        <a href="https://aquatic-warlock.glitch.me/api/imagesearch/frogs">Google CSE API with Image Search (ex:frogs) </a>
      </h1>
    </header>

    <main>
      <br>
      <h2>
        User Stories:
      </h2>
      <ul>
        <li>User Story: I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
        <li>User Story: I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
        <li>User Story: I can get a list of the most recently submitted search strings.</li>                  
      </ul>
      
      <li><a>Append search terms to to /api/imagesearch/</a></li>
      <br>
      <li><a>View previous searches at <a href="/api/latest/imagesearch/">/api/latest/imagesearch/</a></a></li>
    </main>

    <footer>
    </footer>

  </body>
</html>
